.home__courses {
  @extend %grid;
  @include bp(l) {
    grid-template-columns: repeat(20, 1fr);
  }
  & > div {
    display: contents;
  }
  .section__title {
    @include bp(l) {
      grid-column: 1 / 21;
    }
  }
  #maincontent {
    display: none;
  }
}
.courses__list {
  display: contents;
}
.courses__item {
  @extend %card;
  height: 100%;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  grid-column: span 6;
  @include bp(m) {
    grid-column: span 4;
  }
  @include bp(ml) {
    grid-column: span 3;
  }
  @include bp(l) {
    grid-column: span 4;
  }

  .modal-header {
    padding: 1.5rem;
    padding-bottom: 1.2rem;
  }
  .modal-title {
    @extend %h2;
    margin-bottom: 0;
    margin-top: -0.1em;
    line-height: 1;
    text-wrap: balance;
  }
  .modal-dialog {
    max-width: 40rem;
  }
  .buttons {
    grid-columns: 1 / 13;
  }
  .modal-body {
    @extend %copy;
    padding: 1rem 1.5rem;
    h3 {
      @extend %h3;
    }
  }
  .btn-primary {
    background: var(--color-blue-dark);
    font-weight: bold;
  }
}

.courses__image {
  border: none;
  overflow: hidden;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  background: var(--color-gray-light);
  img {
    width: 100%;
    height: auto;
  }
}

.courses__info {
  @extend %copy;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1em;
  line-height: 1.35;
  padding-bottom: 0;
  color: var(--color-blue-medium);
  height: 140px;
  @include bp(m) {
    height: 170px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(white, 0),
      rgba(white, 1) 110%
    );
    width: 100%;
    height: 4em;
  }
}

.courses__category {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-accent-yellow);
  padding: 0.15em 0.5em;
  font-weight: bold;
  &:after {
    content: "";
    background: var(--color-accent-yellow);
    position: absolute;
    width: 0.75em;
    top: 0;
    bottom: 0;
    transform: skewX(-20deg) translateX(20%);
  }
}
.courses__index {
  display: block;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: var(--color-blue-dark);
  font-size: var(--ms-0);
  margin-bottom: 0.2em;
  @include bp(m) {
    font-size: 2.4em;
    margin-bottom: 0.1em;
    line-height: 0.9;
    margin-bottom: 0;
  }
}
.courses__info h5 {
  color: var(--color-blue-dark);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
  font-size: 1.2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  @include bp(m) {
    display: flex;
    margin-bottom: 0.2em;
    gap: 0.15em;
  }
}

.courses__actions {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-top: 1px solid var(--color-blue-light-3);
}

.courses__start {
  background-color: var(--color-blue-dark);
  color: white;
  z-index: 1;
  flex-grow: 1;
  text-align: right;
  position: relative;
  padding: 0.25em 0.75em;
  font-weight: bold;
  &:hover,
  &:focus-visible {
    background: var(--color-accent-yellow);
    color: var(--black);
    text-decoration: none;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2rem;
    background: inherit;
    transform: skewX(-20deg) translateX(-40%);
  }
}

.courses__intro {
  overflow: hidden;
}

.courses__more {
  display: block;
  background: transparent;
  border: 0;
  text-align: left;
  padding: 0 0.75em;
  flex-basis: 65%;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-underline-offset: 0.15em;
  }
}
.courses__author {
  & + .courses__author {
    margin-top: 0.5em;
  }
  &[open] {
    border: 1px solid var(--color-gray-light);
    border-radius: var(--br);
    summary {
      border: 0;
    }
    .details-icon {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
  summary {
    padding: 0.5em 0.75em;
    display: flex;
    align-items: center;
    transition: var(--fast);
    gap: 0.75em;
    border-radius: var(--br);
    position: relative;
    border: 1px solid var(--color-gray-light);
    &:hover,
    &:focus-visible {
      border-color: var(--black);
    }
  }
  .details-icon {
    position: absolute;
    right: 0.75em;
    top: 50%;
    transform: translateY(-50%);
  }
  .author__bio {
    padding: 0 0.75em;
    padding-bottom: 0.75em;
  }
  .author__image {
    width: 2.5em;
  }
  .author__name {
    @extend %copy-large;
  }
  img {
    border-radius: 100%;
    width: 100%;
    display: block;
  }
}

.coursebox > .info > .coursename {
  @extend %h3;
  font-weight: border;
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}
