#user-notifications {
  display: none;
}

#site-news-forum {
  grid-column: 1 / 13;
  grid-row: 1;
  h2 {
    @extend %h2;
    margin-bottom: 1.25rem;
    color: var(--color-blue-dark);
    @include bp(m) {
      margin-bottom: 1.75rem;
    }
  }
  .forumpost {
    @extend %card;
    border: 0 !important;
    padding: 1rem !important;
  }
  h3 {
    color: var(--color-blue-dark);
    @extend %h3;
  }
  a {
    color: var(--color-blue-medium);
    text-decoration: underline;
  }
  .py-3 {
    display: none;
  }
  .author-groups-container {
    display: none;
  }
  .post-actions,
  .link,
  .subscribelink {
    display: none !important;
  }
  .post-content-container {
    @extend %copy;
    & + .d-flex {
      display: none !important;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .header {
    margin-bottom: 0.3rem !important;
    .mb-3 {
      @extend %caption;
      margin-bottom: 0 !important;
      padding-top: 0.5em;
    }
    .mr-2 {
      display: none;
    }
  }
}
