#shade {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-blue-light-2);
  opacity: 0.9;
  z-index: 100;
}

#popup {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  flex-direction: column;
}

#popup-title {
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
}

#popup-pic {
  display: inline-block;
  margin: 0 0 2vw;
  position: relative;
  overflow: hidden;
}
div#popup-pic .popup-pic__background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
div#popup-pic .popup-pic__background img {
  filter: blur(8px) contrast(0.7) brightness(1.3) opacity(0.7);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
}

#popup-header {
  margin: 0 2vw;
  margin-bottom: 1vw;
}

#popup-content {
  overflow: auto;
  flex-basis: 0; /* Needed for IE */
  flex-grow: 1;
  padding: 0 2vw; /* using padding instead of margin to keep the v-scrollbar right on the edge of #popup */
}

#popup-content ul {
  text-align: left;
}

#popup-footer {
  margin-left: 2vw;
  margin-top: 2vw;
}

#popup-back {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
}

p.pfoot {
  margin: 0;
}

.pfoot a {
  cursor: pointer;
}

#popup-close,
#popup-back {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  color: var(--color-blue-dark);
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  background: transparent;
  z-index: 11;
}
#popup-close {
  right: 0.5em;
}
#popup-back {
  left: 0.5em;
}
#popup-close:hover,
#popup-back:hover {
  color: var(--color-accent-yellow);
}
#popup-close::before,
#popup-close::after {
  content: "";
  display: block;
  border-left: 3px solid;
  height: 1.4em;
  position: absolute;
  top: 1em;
  left: 1em;
  margin-left: -1.5px;
  margin-top: -0.7em;
}
#popup-close::before {
  transform: rotate(45deg);
}
#popup-close::after {
  transform: rotate(-45deg);
}
#popup-back::after {
  content: "";
  display: block;
  border-top: 3px solid;
  border-left: 3px solid;
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  top: 1.2em;
  left: 0.6em;
  margin-left: -1.5px;
  margin-top: -0.7em;
  transform: rotate(-45deg);
}

.modal {
  &.show {
    // display: flex;
    // flex-flow: column;
    // justify-content: center;
  }
}
