/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/*Folgendes angepasst für die Liste in "Privacy Policy"*/

/*Folgendes angepasst für "Coming Soon"-Announcement*/
/*.forumpost .subject {
	font-family: Roboto;
	font-weight: 900;
	font-size: 24px;
	letter-spacing: 0.5px;
	color: #0d425b;
	line-height: 2.0;
	margin-bottom: 3px;
	background-color: #fbc202;
	width: 200px;
	margin-left: -50px;
	padding-left: 50px;
}

.forumpost .row .topic .author {
		color: #828282;
		display: none;
}

/*wird dadurch irrelevant:
.forumpost .row .topic .author a {
		color: #828282;
}
.forumpost .row .topic .author a:hover {
		color: #c02424;
}*/

/*.forumpost .row {
	margin-left: 0;
	padding-right: 20px;
}

.forum .row .topic {
	margin-left: 0;
}

/*neue Farben laut Styleguide verwendet*/
/*.forumpost .header {
	color: #fbc202;
	margin-left: -20px !important;
}

.forumpost .content p {
	line-height: 30px;
	margin: 5px 10px 5px 25px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	color: #0d425b;
	padding: 5px;
}
/*
Reaktionsmöglichkeiten ausgeschaltet*/
/*.forumpost .row .options {
	display: none !important;
}

.forumpost .row .side {
	display: none !important;
}

.forumpost .content .posting.fullpost {
		margin: 5px 0;
}

.forumpost .row .left {
	display: none;
}

/*Überschrift "Site Announcements" verborgen*/
/*#site-news-forum h2 {
	display: none;
}
*/


#footer ul li span {
  display: block;
  font-size: 0.8em;
  line-height: 1.1;
  margin-top: -0.2em;
  max-width: 20em;
}
